! Fonts {{{
Xft.antialias: true
Xft.hinting:   true
Xft.rgba:      rgb
Xft.hintstyle: hintfull
Xft.dpi:       96
! }}}


*background: #1b1b1b
*foreground: #8FA388

! Alternate foreground
!*foreground: #AB9C71

*cursorColor: #BE5E1E

*color0:  #39474A
*color1:  #986345
*color2:  #788249
*color3:  #9B6A46
*color4:  #3E5951
*color5:  #B9924A
*color6:  #5d796a
*color7:  #977D5E
*color8:  #4C5F63
*color9:  #B07350
*color10: #869151
*color11: #AF6B42
*color12: #567A6E
*color13: #D69D55
*color14: #668574
*color15: #AB9C71


urxvt*transparent: false
urxvt*highlightSelection: true
urxvt*shading: 20
urxvt*tintColor: #000000
urxvt*blurRadius: 5

URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: firefox
URxvt.matcher.button: 1

URxvt.scrollBar: false
URxvt.font:      xft:xos4 Terminus:size=13:antialias=true
URxvt.boldFont:  xft:xos4 Terminus:size=13:antialias=true

URxvt.lineSpace: +2

! xscreensaver ---------------------------------------------------------------

!font settings
xscreensaver.Dialog.headingFont: -*-dina-bold-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.bodyFont: -*-dina-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.labelFont: -*-dina-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.unameFont: -*-dina-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.buttonFont: -*-dina-bold-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.dateFont: -*-dina-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.passwd.passwdFont: -*-dina-bold-r-*-*-12-*-*-*-*-*-*-*
!general dialog box (affects main hostname, username, password text)
xscreensaver.Dialog.foreground: #ffffff
xscreensaver.Dialog.background: #111111
xscreensaver.Dialog.topShadowColor: #111111
xscreensaver.Dialog.bottomShadowColor: #111111
xscreensaver.Dialog.Button.foreground: #666666
xscreensaver.Dialog.Button.background: #ffffff
!username/password input box and date text colour
xscreensaver.Dialog.text.foreground: #666666
xscreensaver.Dialog.text.background: #ffffff
xscreensaver.Dialog.internalBorderWidth:24
xscreensaver.Dialog.borderWidth: 20
xscreensaver.Dialog.shadowThickness: 2
!timeout bar (background is actually determined by Dialog.text.background)
xscreensaver.passwd.thermometer.foreground: #ff0000
xscreensaver.passwd.thermometer.background: #000000
xscreensaver.passwd.thermometer.width: 8
!datestamp format--see the strftime(3) manual page for details
xscreensaver.dateFormat: %I:%M%P %a %b %d, %Y 

